.gradient-custom {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(252, 203, 144, 0.6), rgba(213, 126, 235, 0.6));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(252, 203, 144, 0.6), rgba(213, 126, 235, 0.6))
  }

.custom_animation {
    animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  