{% extends "base.html" %} 

{% block title %}Number Guessing Game{% endblock %} 

{% block content %}
<div class="container mt-5 p-5 text-center rounded-1 gradient-custom">
  <h1 class="display-3">Welcome to the Great Number Game!</h1>
  <p class="display-6">I am thinking of a number between 1 and 100</p>
  <p class="display-6">Take a guess!</p>

  <div class="buttons d-inline-flex gap-5">
    <form action='/make_guess' method='post'>
      <input type="number" min="1" max="100" placeholder="1" name="user_guess" required>
      <button class="btn btn-info text-white">Submit</button>
    </form>
  </div>

  <div class="text-{{color}} p-3 display-4 custom_animation">{{result}}</div>
</div>
{% endblock %}
